page-main {

  .background{
    background-image: url('../assets/imgs/background.jpg');
    background-size: cover;
  }
  .mainTitle {
    color: #fff;
    margin-top: 75%;
  }

  .mainTitle h1 {
      font-weight: 300;
      font-size: 45px;
      text-shadow: 1px 2px #1C1C1C;
      font-family: 'Dancing Script', cursive;
  }

}
